{% import "SearchBundle:Search:aggregations.html.twig" as _aggregations %}
{% import "SearchBundle:Search:pagination.html.twig" as _pagination %}
{% import "SearchBundle:Search:order.html.twig" as _order %}

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <div class="progress">
            {% set percent = result.totalHits*100/result.totalProducts %}
            {% set percent = min(percent, 100) %}
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="{{ result.totalProducts }}" style="width: {{ percent }}%;">
                {{ result.totalHits }}
            </div>
        </div>
        {{ _aggregations.printAggregation(search_query, result, 'categories') }}
        {{ _aggregations.printMultiplePriceRange(search_query, result) }}
        {{ _aggregations.printPriceRange(search_query, result) }}
        {{ _aggregations.printRatingRange(search_query, result) }}
        {{ _aggregations.printAggregation(search_query, result, 'manufacturer') }}
        {{ _aggregations.printAggregation(search_query, result, 'brand') }}
        {{ _aggregations.printAggregation(search_query, result, 'quality') }}
        {{ _aggregations.printAggregation(search_query, result, 'stock') }}
        {{ _aggregations.printAggregation(search_query, result, 'shipping') }}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {{ _order.printOrderBy(search_query, result) }}
        {{ _pagination.printPaginator(search_query, result) }}
        <div class="row">
            {% for brand in result.brands %}
                {% include "SearchBundle:Shop:brand.html.twig" with {
                    'brand': brand
                } %}
            {% endfor %}
        </div>
        <div class="row">
            {% for tag in result.tags %}
                {% include "SearchBundle:Shop:tag.html.twig" with {
                    'tag': tag
                } %}
            {% endfor %}
        </div>
        <div class="row">
            {% for product in result.products %}
                {% include "SearchBundle:Shop:product.html.twig" with {
                    'product': product
                } %}
            {% endfor %}
        </div>
    </div>
</div>

