<div class="col-xs-6 col-md-4">
    <h3>
        {{ product.name }}
        <span style="font-size: 12px; color: #337ab7;" title="Rating of {{ product.rating }}">
            {% set numStars = ((product.rating/2)|number_format) %}
            {% set numEmptyStarts = 5-numStars %}
            {% if numStars > 0 %}
                {% for i in 1..numStars %}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                {% endfor %}
            {% endif %}
            {% if numEmptyStarts > 0 %}
                {% for i in 1..numEmptyStarts %}
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                {% endfor %}
            {% endif %}
        </span>
    </h3>
    <p>{{ product.description }}</p>
    <p>
        <strong>{{ product.realPrice }}€</strong>
        {% if product.realPrice < product.price %}
            <span class="glyphicon glyphicon-fire"></span>
            <i style="color:#777777">Discount of {{ product.discount }}€ ({{ product.discountPercentage }}%)</i>
        {% endif %}
    </p>
    <p>Manufactured by <strong>{{ product.manufacturer.name }}</strong></p>
    <p>Branded by <strong>{{ product.brand.name }}</strong></p>
    <p>
        {% for tag in product.tags %}
            <span class="label label-default">{{ tag.name }}</span>
        {% endfor %}
    </p>
</div>