{% macro printOrderBy(search_query, result) %}

    {% import _self as _order %}
    <ul class="nav nav-pills">
        {{ _order.printOrderByElement(search_query, '_score', 'asc', 'By score') }}
        {{ _order.printOrderByElement(search_query, 'real_price', 'asc', 'First the cheapest') }}
        {{ _order.printOrderByElement(search_query, 'real_price', 'desc', 'First the more expensive') }}
        {{ _order.printOrderByElement(search_query, 'discount', 'asc', 'First the lowest discount') }}
        {{ _order.printOrderByElement(search_query, 'discount', 'desc', 'First the biggest discount') }}
        {{ _order.printOrderByElement(search_query, 'discount_percentage', 'asc', 'First the lowest discount %') }}
        {{ _order.printOrderByElement(search_query, 'discount_percentage', 'desc', 'First the biggest discount %') }}
        {{ _order.printOrderByElement(search_query, 'updated_at', 'asc', 'First the newest') }}
        {{ _order.printOrderByElement(search_query, 'updated_at', 'desc', 'First the oldest') }}
        {{ _order.printOrderByElement(search_query, 'manufacturer.name', 'asc', 'By manufacturer A/Z') }}
        {{ _order.printOrderByElement(search_query, 'manufacturer.name', 'desc', 'By manufacturer Z/A') }}
        {{ _order.printOrderByElement(search_query, 'brand.name', 'asc', 'By brand A/Z') }}
        {{ _order.printOrderByElement(search_query, 'brand.name', 'desc', 'By brand Z/A') }}
        {{ _order.printOrderByElement(search_query, 'rating', 'desc', 'Best rated first') }}
        {{ _order.printOrderByElement(search_query, 'rating', 'asc', 'Worst rated first') }}
    </ul>

{% endmacro printOrderBy %}

{% macro printOrderByElement(search_query, field, direction, message) %}
    {% set sortBy = search_query|add_sort_by(field, direction) %}
    {% if sortBy is null %}
        <li role="presentation" class="active">
            <a href="#">
                {{ message }}
            </a>
        </li>
    {% else %}
        <li role="presentation">
            <a href="{{ url('shop', search_query|add_sort_by(field, direction)) }}">
                {{ message }}
            </a>
        </li>
    {% endif %}
{% endmacro printOrderByElement %}