{% macro printAggregation(search_query, result, aggregationName) %}
    {% set aggregation = result.aggregation(aggregationName) %}
    {% if aggregation != null %}
        {{ aggregation.sortByName }}
        <h4>{{ aggregationName }}</h4>
        <ul class="nav nav-sidebar">

            {% if aggregation.activeElements is not empty %}
                <li>
                    <a href="{{ url("shop", search_query|remove_filter_value(aggregationName)) }}">
                        <span class="glyphicon glyphicon-remove-circle"></span> Remove selected
                    </a>
                </li>
            {% endif %}

            {% if aggregation.hasLevels %}
                {% for activeElement in aggregation.activeElements %}
                    <li>
                        <a href="{{ url("shop", search_query|remove_filter_value(aggregationName, activeElement.id)) }}">
                            <span class="glyphicon glyphicon-remove-circle"></span> {{ activeElement.name }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}

            {% for name,counter in aggregation  %}
                <li>
                    {% set url = counter.used
                        ? search_query|remove_filter_value(aggregationName, counter.id)
                        : search_query|add_filter_value(aggregationName, counter.id)
                    %}

                    <a href="{{ url("shop", url) }}">
                        {% if not aggregation.hasLevels %}
                            <input type="checkbox"{% if counter.isUsed %} checked{% endif %}/>
                        {% endif %}
                        {{ counter.name }} ({{ counter.n }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro printAggregation %}


{% macro printPriceRange(search_query, result) %}

    {% set aggregation = result.aggregation('price') %}
    {% set result_min_price = result.minPrice %}
    {% set result_max_price = result.maxPrice %}

    <div id="price_range_wrapper"
        data-url-placeholder = "{{ url("shop", search_query|remove_price_range_filter) }}"
        data-slider-max = "{{ result_max_price }}"
    >
        <h4>Price</h4>
        {% if app.request.query.has('price') %}
            <div>
                <a href="{{ url("shop", search_query|remove_price_range_filter) }}">
                    <span class="glyphicon glyphicon-remove-circle"></span> Remove filter
                </a>
            </div>
        {% endif %}
        <input
            id="price_range"
            type="text"
            class="span2"
            value=""
            data-slider-min="{{ result_min_price }}"
            data-slider-max="{{ result_max_price }}"
            data-slider-step="1"
            data-slider-value="[{{ result_min_price }},{{ result_max_price }}]"
        />
    </div>

{% endmacro printPriceRange %}

{% macro printMultiplePriceRange(search_query, result) %}

    {% set aggregation = result.aggregation('price') %}
    <h4>Price</h4>

    <ul class="nav nav-sidebar">
        {% if aggregation.activeElements is not empty %}
            <li>
                <a href="{{ url("shop", search_query|remove_filter_value('price')) }}">
                    <span class="glyphicon glyphicon-remove-circle"></span> Remove selected
                </a>
            </li>
        {% endif %}

        {% for name,counter in aggregation  %}
            <li>
                {% set url = counter.used
                    ? search_query|remove_filter_value('price', counter.id)
                    : search_query|add_filter_value('price', counter.id)
                %}

                <a href="{{ url("shop", url) }}">
                    <input type="checkbox"{% if counter.isUsed %} checked{% endif %}/>
                    {% set elems = counter.name|split('..') %}
                    {{ elems.0 }} - {{ elems.1 }} EUR ({{ counter.n }})
                </a>
            </li>
        {% endfor %}
    </ul>

{% endmacro printMultiplePriceRange %}

{% macro printRatingRange(search_query, result) %}
    {% set aggregation = result.aggregation('rating') %}
    <h4>Rating</h4>

    <ul class="nav nav-sidebar">

        {% if aggregation.activeElements is not empty %}
            <li>
                <a href="{{ url("shop", search_query|remove_filter_value('rating')) }}">
                    <span class="glyphicon glyphicon-remove-circle"></span> Remove selected
                </a>
            </li>
        {% endif %}

        {% for name,counter in aggregation  %}
            {% set elems = counter.name|split('..') %}
            <li>
                {% set url = counter.used
                    ? search_query|remove_filter_value('rating', counter.id)
                    : search_query|add_filter_value('rating', counter.id)
                %}

                <a href="{{ url("shop", url) }}">
                    <input type="checkbox"{% if counter.isUsed %} checked{% endif %}/>
                    <span style="font-size: 12px; color: #337ab7;">
                        {% set numStars = (elems.0|number_format) %}
                        {% set numEmptyStarts = 10-numStars %}
                        {% if numStars > 0 %}
                            {% for i in 1..numStars %}
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            {% endfor %}
                        {% endif %}
                        {% if numEmptyStarts > 0 %}
                            {% for i in 1..numEmptyStarts %}
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            {% endfor %}
                        {% endif %}
                    </span>
                    ({{ counter.n }})
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro printRatingRange %}