{% trans_default_domain "filters" %}


{% macro printAggregation(
    result,
    aggregationName,
    maxElements
) %}
    {% import _self as _aggregations %}
    {% set aggregation = result.aggregation(aggregationName) %}

    {% if aggregation != null and not aggregation.isEmpty %}
        {{ aggregation.sortByName }}
        {{ _aggregations.printTitle(aggregationName) }}
        <ul>
            {% if aggregation.activeElements is not empty %}
                <li>
                    <a href="{{ result|remove_filter_value(aggregationName) }}">
                        <span class="glyphicon glyphicon-remove-circle fa fa-remove"></span> {{ "labels.remove_selected"|trans }}
                    </a>
                </li>
            {% endif %}

            {% if aggregation.hasLevels %}
                {% for activeElement in aggregation.activeElements %}
                    <li>
                        <a href="{{ result|remove_filter_value(aggregationName, activeElement.id) }}">
                            <span class="glyphicon glyphicon-remove-circle fa fa-remove"></span> {{ activeElement.name|trans }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}

            {% for counter in aggregation.counters|slice(0, maxElements|default(999))  %}
                <li>
                    {% set edited_search_query = counter.used
                        ? result|remove_filter_value(aggregationName, counter.id)
                        : result|add_filter_value(aggregationName, counter.id)
                    %}

                    <a href="{{ edited_search_query }}">
                        {% if not aggregation.hasLevels %}
                            <input type="checkbox"{% if counter.isUsed %} checked{% endif %} onclick='window.location.assign("{{ url }}")'>
                        {% endif %}
                        {{ _aggregations.printOptionValue(aggregationName, counter) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro printAggregation %}


{% macro printPriceRange(result) %}
    {% import _self as _aggregations %}
    {% set aggregation = result.aggregation('price') %}

    {% if aggregation != null and not aggregation.isEmpty %}
        {% set result_min_price = result.minPrice %}
        {% set result_max_price = result.maxPrice %}

        <div id="price_range_wrapper"
            data-url-placeholder = "{{ result|remove_price_range_filter }}"
            data-slider-max = "{{ result_max_price }}"
        >
            {{ _aggregations.printTitle('price') }}
            {% if app.request.query.has('price') %}
                <div>
                    <a href="{{ result|remove_price_range_filter }}">
                        <span class="glyphicon glyphicon-remove-circle fa fa-remove"></span> {{ "labels.remove_selected"|trans }}
                    </a>
                </div>
            {% endif %}
            <input
                id="price_range"
                type="text"
                class="span2"
                value=""
                data-slider-min="{{ result_min_price }}"
                data-slider-max="{{ result_max_price }}"
                data-slider-step="1"
                data-slider-value="[{{ result_min_price }},{{ result_max_price }}]"
            />
        </div>
    {% endif %}

{% endmacro printPriceRange %}


{% macro printMultiplePriceRange(result) %}

    {% import _self as _aggregations %}
    {% set aggregation = result.aggregation('price') %}

    {% if aggregation != null and not aggregation.isEmpty %}
        {{ _aggregations.printTitle('price') }}
        <ul>
            {% if aggregation.activeElements is not empty %}
                <li>
                    <a href="{{ result|remove_filter_value('price') }}">
                        <span class="glyphicon glyphicon-remove-circle fa fa-remove"></span> {{ "labels.remove_selected"|trans }}
                    </a>
                </li>
            {% endif %}

            {% for name,counter in aggregation  %}
                <li>
                    {% set edited_search_query = counter.used
                        ? result|remove_filter_value('price', counter.id)
                        : result|add_filter_value('price', counter.id)
                    %}

                    <a href="{{ edited_search_query }}">
                        <input type="checkbox"{% if counter.isUsed %} checked{% endif %}/>
                        {{ _aggregations.printOptionValue('price', counter) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endmacro printMultiplePriceRange %}


{% macro printRatingRange(result) %}
    {% import _self as _aggregations %}
    {% set aggregation = result.aggregation('rating') %}

    {% if aggregation != null and not aggregation.isEmpty %}
        {{ _aggregations.printTitle('rating') }}
        <ul>
            {% if aggregation.activeElements is not empty %}
                <li>
                    <a href="{{ result|remove_filter_value('rating') }}">
                        <span class="glyphicon glyphicon-remove-circle fa fa-times"></span> {{ "labels.remove_selected"|trans }}
                    </a>
                </li>
            {% endif %}

            {% for name,counter in aggregation  %}
                {% set elems = counter.name|split('..') %}
                <li>
                    {% set edited_search_query = counter.used
                        ? result|remove_filter_value('rating', counter.id)
                        : result|add_filter_value('rating', counter.id)
                    %}

                    <a href="{{ edited_search_query }}">
                        <input type="checkbox"{% if counter.isUsed %} checked{% endif %}/>
                        <span style="font-size: 12px; color: #337ab7;">
                            {% set numStars = (elems.0|number_format) %}
                            {% set numEmptyStarts = 10-numStars %}
                            {% if numStars > 0 %}
                                {% for i in 1..numStars %}
                                    <span class="glyphicon glyphicon-star fa fa-star" aria-hidden="true"></span>
                                {% endfor %}
                            {% endif %}
                            {% if numEmptyStarts > 0 %}
                                {% for i in 1..numEmptyStarts %}
                                    <span class="glyphicon glyphicon-star-empty fa fa-star-o" aria-hidden="true"></span>
                                {% endfor %}
                            {% endif %}
                        </span>
                        ({{ counter.n }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro printRatingRange %}


{% macro printTitle(aggregationName) %}
    <p>{{ aggregationName|trans }}</p>
{% endmacro printTitle %}


{% macro printOptionValue(aggregationName, counter) %}
    <label>{{ counter.name|trans }} ({{ counter.n }})</label>
{% endmacro printOptionValue %}
